{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login Fusion</title>
    
</head>
<body>
    
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
        
        <p>Ainda não tem uma conta? <a href="{% url 'registro' %}">Registe-se aqui</a></p>
    </div>


    <div class="container-fluid">
        
        <div>
            <h1 class="text-white text-center">
                {% block title %} Logins {% endblock %}
            </h1>
            <div class="card p-5">
                <div class="row">
                    <div class="col--md-8 mx-auto social-cintainer my-2 order-md-1">
                        <button class="btn btn-primary mb-2">
                            <a href="{% url 'social:begin' 'facebook' %}">Login com Facebook</a>
                        </button>
                        <button class="btn btn-warning mb-2">
                            <a href="#">Login com Instagram</a>
                        </button>
                    </div>
                </div>
            </div>    
        </div>

    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>